/* #region Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion Reset */

/* #region Root */
:root {
  --light: #fff;
  --dark: #000;
  --gray: #73757b;
  --primary: #141922;
  --secondary: #282828; /* serve? */
  --semi-transparent: rgba(8, 11, 18, 0.5);
  --lines: #adff2f;
}
/* #endregion Root */

/* #region Generics */
body {
  font-family: sans-serif;
  color: var(--light);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
/* #endregion Generics */

/* #region Utils */
/* Mobile First 375px */
.container {
  width: 85%;
  max-width: 350px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

[class^="col"] {
  padding: 0 1rem;
}

.col {
  width: auto;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

.t-white {
  color: var(--light);
}
/* #endregion Utils */

/* Debug */
body * {
  /* border: 1px dashed red; */
}

.row {
  margin-bottom: 2rem;
}

/* .col-6 {
  background-color: blue;
  min-height: 100px;
  width: 100px;
  margin: 5px;
} */

/* Body */
.wrapper {
  height: 100vh;
  overflow: hidden;
  position: absolute;

  /* Wrapper Top */
  & > .top {
    height: calc(100% - 70px);
    display: flex;

    /* Sidebar */
    .sidebar {
      background-color: var(--dark);
      height: 100%;
      width: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: var(--gray);

      .top {
        margin-top: 0.3rem;

        #logo-small {
          margin-bottom: 0.5rem;
        }

        #logo {
          display: none;
        }
      }

      img {
        width: 1rem;
      }

      span,
      .playlist {
        display: none;
      }

      .bottom {
        .download {
          margin: 0 5px;
        }
      }
    }

    /* Main */
    main {
      background-color: var(--primary);
      height: 100%;
      width: calc(100% - 50px);
      overflow-y: auto;

      .upgrade {
        background-color: var(--semi-transparent);
        min-height: 50px;
        width: calc(100% - 50px);
        position: fixed;
        z-index: 100;
      }

      .navbar {
        margin: 60px 0 30px;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          text-transform: uppercase;
          font-size: 0.5rem;
          gap: 1rem;
        }
      }

      figcaption {
        font-size: 0.7rem;
        font-weight: 600;
        text-align: center;
        margin-top: 0.6rem;

        span {
          display: block;
          color: var(--gray);
          font-size: 0.55rem;
          margin: 0.5rem 0;
        }
      }
    }
  }

  /* Wrapper Bottom */
  & > .bottom {
    background-color: brown;
    height: 70px;
  }
}

/* Media Queries */
/* Mobile Large 425px */
@media screen and (min-width: 425px) {
  .container {
    width: 90%;
    max-width: 400px;
  }

  .wrapper .top .sidebar {
    width: 230px;
    padding-left: 1rem;
    align-items: flex-start;

    span,
    .playlist {
      display: inline-block;
      font-size: 0.7rem;
      line-height: 1.5rem;
    }

    .top {
      .main-menu {
        display: flex;
        flex-direction: column;
      }

      #logo-small {
        display: none;
      }

      #logo {
        display: block;
        width: 5rem;
        margin: 0.3rem 0 1rem;
      }

      h3 {
        text-transform: uppercase;
        font-size: 0.7rem;
        margin-top: 0.5rem;
      }
    }
  }
}

/* Tablet 768px */
@media screen and (min-width: 768px) {
  /* #region Cols Utils */
  .col-md-1 {
    width: calc(100% / 12 * 1);
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
  }

  .col-md-12 {
    width: 100%;
  }
  /* #endregion Cols Utils */

  .container {
    width: 90%;
    max-width: 750px;
  }
}

/* Desktop 1024px */
@media screen and (min-width: 1024px) {
  /* #region Cols Utils */
  .col-lg-1 {
    width: calc(100% / 12 * 1);
  }

  .col-lg-2 {
    width: calc(100% / 12 * 2);
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-5 {
    width: calc(100% / 12 * 5);
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: calc(100% / 12 * 7);
  }

  .col-lg-8 {
    width: calc(100% / 12 * 8);
  }

  .col-lg-9 {
    width: calc(100% / 12 * 9);
  }

  .col-lg-10 {
    width: calc(100% / 12 * 10);
  }

  .col-lg-11 {
    width: calc(100% / 12 * 11);
  }

  .col-lg-12 {
    width: 100%;
  }
  /* #endregion Cols Utils */

  .container {
    width: 90%;
    max-width: 1000px;
  }
}
