/* #region Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion Reset */

/* #region Root */
:root {
    --light: #fff;
    --dark: #000;
    --gray: #73757B;
    --primary: #141922;
    --secondary: #282828;
    --lines: #ADFF2F;
}
/* #endregion Root */

/* Generics */
body {
    font-family: sans-serif;
}

/* #region Utils */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 0 1rem;
}

.col {
    width: auto;
    flex-basis: auto;
    flex-grow: 1;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}
/* #endregion Utils */








/* Debug */
/* Main */
.wrapper {
    background-color: aqua;
    height: 100vh;
}

.top {
    background-color: black;
    height: calc(100% - 70px);
    display: flex;
}

.top-left {
    background-color: blueviolet;
    height: 100%;
    width: 230px;
}

.top-right {
    background-color: chartreuse;
    height: 100%;
    width: calc(100% - 230px);
}

.upgrade {
    background-color: burlywood;
    height: 50px;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    text-transform: uppercase;
}

.bottom {
    background-color: brown;
    height: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 1rem;
}