/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */
.wrapper {
    background-color: aqua;
    height: 100vh;
}

.top {
    background-color: black;
    height: calc(100% - 70px);
    display: flex;
}

.top-left {
    background-color: blueviolet;
    height: 100%;
    width: 230px;
}

.top-right {
    background-color: chartreuse;
    height: 100%;
    width: calc(100% - 230px);
}

.upgrade {
    background-color: burlywood;
    height: 50px;
}

.navbar {
    background-color: coral;
    height: 20px;
}

.bottom {
    background-color: brown;
    height: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 1rem;
}